
<button (click)="logout()"
        style="float: right;"
        class="btn btn-secondary">Logout
</button>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/employee/add" class="nav-link" routerLinkActive="active">
          Add Employee
        </a>
      </li>
    </ul>
  </div>
</nav>
<br/>

<table class="table table-hover">
  <thead>
  <tr>
    <td><b>Employee Id</b></td>
    <td><b>Employee Name</b></td>
    <td><b>Department</b></td>
    <td colspan="2"><b>Actions</b></td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let emp of employees">
    <td>{{ emp.id }}</td>
    <td>{{ emp.employeeName }}</td>
    <td>{{ emp.department}}</td>
    <td><a [routerLink]="['edit', emp.id]" class="btn btn-primary">Edit</a></td>
    <td><a (click)="deleteEmployee(emp.id)" class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>
